<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<hr/>
<div class="container" align ="center">
<h3> New Cafe </h3>
<style>
        @import url('https://fonts.googleapis.com/css?family=Song+Myung|Yeon+Sung');
        @import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');

        .container {
            font-family: 'Nanum Myeongjo', serif;
            font-size:35px;
        }
        /*div {  */
        /*width: 700px; */
        /*height: 700px;*/
        /*position: absolute; */
        /*top:0;*/
        /*bottom: 0; */
        /*left: 0; */
        /*right: 0; */
        /*margin: auto; }*/
</style>
</div>

<center><%= render 'form' %></center>
<br><br>
<center><%= link_to 'Back', caves_path %></center>

